<article {{ fn('post_class', ['danzerpress-flex-column', 'wow', 'fadeIn']) }}>
    <div class="danzerpress-box danzerpress-white">
        <div class="danzerpress-flex-row danzerpress-row-fix">
            <div class="danzerpress-two-thirds entry-summary">
                <div class="danzerpress-content">
                    <h2 class="entry-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
                    <p>{{ post.preview.length(50).force.end('').read_more('') }}</p>
                </div>
            </div>
            <div class="danzerpress-one-third">
                <div class="image-wrap">
                    <a href="{{ post.link }}">{{dpImage(post.thumbnail.id)}}</a>
                </div>
            </div>
        </div>
    </div>
    <a class="danzerpress-button-modern" href="{{ post.link }}">Read More</a>
</article>