<div class="modal-background"></div>
<div class="dp-modal danzerpress-flex-column danzerpress-shadow-2">
    <div class="dp-modal-content danzerpress-box">
        <i class="fa fa-times"></i>
        <h1 class="danzerpress-title">{{post.get_field('modal_title')}}</h1>
        <div class="danzerpress-content">
            {{post.get_field('modal_content')}}
        </div>
    </div>
</div>
<footer>
    {% if not site.hide_nav %}
        <div class="footer-bottom-bar">
            <div class="danzerpress-wrap">
                {{ fn('get_field', 'bottom_bar', 'option')|striptags('<a>') }}
            </div>
        </div>
    {% endif %}
</footer>

{{ function('wp_footer') }}
{{ fn('get_field', 'footer_scripts', 'option') }}